# Imagem Docker
IMAGE_TAG=latest

# Banco externo do Aegis (maquina Oracle)
AEGIS_DB_HOST=<IP_ORACLE>
AEGIS_DB_PORT=5432
AEGIS_DB_NAME=aegis_db
AEGIS_DB_USER=aegis_user
AEGIS_DB_PASSWORD=<SEGREDO>
AEGIS_HTTP_BIND_ADDRESS=192.168.0.77
AEGIS_HTTP_PORT=8080

# Keycloak externo
KEYCLOAK_ISSUER_URI=https://auth.byop.dev/realms/aegis
KEYCLOAK_JWK_SET_URI=https://auth.byop.dev/realms/aegis/protocol/openid-connect/certs
KEYCLOAK_INTERNAL_BASE_URL=http://<IP_ORACLE>:8282
KEYCLOAK_REALM=aegis
KEYCLOAK_WEB_CLIENT_ID=aegis-web
KEYCLOAK_ADMIN=<SEGREDO>
KEYCLOAK_ADMIN_PASSWORD=<SEGREDO>
KEYCLOAK_ADMIN_REALMS_PATH=/admin/realms/

# App
AEGIS_APP_BASE_URL=https://aegis.byop.dev
AEGIS_ASSETS_MULTIPART_MAX_FILE_SIZE=260MB
AEGIS_ASSETS_MULTIPART_MAX_REQUEST_SIZE=260MB

# SMTP real
SMTP_HOST=<PROVIDER>.example.com
SMTP_PORT=587
SMTP_FROM=noreply@byop.dev
SMTP_FROM_DISPLAY_NAME=Aegis PMS
SMTP_AUTH=true
SMTP_USER=<SEGREDO>
SMTP_PASSWORD=<SEGREDO>
SMTP_STARTTLS=true
SMTP_SSL=false

# Telegram global do Aegis (opcional)
AEGIS_TELEGRAM_ALERT_ENABLED=false
AEGIS_TELEGRAM_ALERT_BOT_TOKEN=
AEGIS_TELEGRAM_ALERT_CHAT_ID=
